<!DOCTYPE html>
<meta charset="utf-8">
<style>
    .node {
        fill: red;
        stroke: orange;
        stroke-width: 2px;
    }

    .nodeg {
        fill: rgb(250, 87, 115);
        stroke: blue;
        stroke-width: 2px;
    }

    .nodeb {
        fill: rgb(104, 104, 255);
        stroke: orange;
        stroke-width: 2px;
    }

    /*add css for links*/

    .link {
        stroke: #777;
        stroke-width: 2px;
    }

    #mysvg {
        border: 2px solid red;
    }
</style>

<body>
    <div id="mysvg"></div>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="/d3Service.js"></script>
</body>

</html>