<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MADE IN HEAVEN</title>
    <link rel="stylesheet" href="/styling/homepage.css">
</head>
<body>
    <div id="title">
        <h1>Made in Heaven</h1>
    </div>
    <div id="regorlogin">
    
    <div id="details">
        <h4 id="new">New user</h4>
        <form action="" method="post" id="regdetails">
            <label>Name:</label><input type="text">
            <br><br>
            <label>Age</label><input type="number">
            <br><br>
            <label>Gender:</label><select>
                <option>MALE</option>
                <option>FEMALE</option>
                <option>Others</option>
            </select>
            <br><br>
            <label>Email:</label><input type="email">
            <br><br>
            <label>Password:</label><input type="password">
            
            <br><br>
            <label>City:</label><input type="text">
            <br><br>
            <label>Country:</label><input type="text">
        </form>
        <button id="signup">Signup</button>
    </div>
    <div id="reg">
        <h4>Already a user?</h4>
        <form id="logindetails">
            <label>Email:</label><input type="email">
            <br><br>
            <label>Password:</label><input type="password">
        </form>
        <button id="login">Login</button>
        <br><br>
    </div>
</div>
</body>
</html>