.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;

}

.gradient-custom {
    /* fallback for old browsers */
    background: #f093fb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.nav-item {
    /* color: white; */
    padding: 1px 0px;
    padding-right: 10px;
}

.nav-item .nav-link {
    text-decoration: none;
    color: white;
}

.navbar-brand {
    padding: 1px 0px;
    padding-left: 10px;
}

#testimonials {
    color: rgb(0, 0, 0);
    background-color: #FFC3C3;
    padding: 5% 5%;
    padding-top: 2%;
    text-align: center;
    font-family: 'Montserrat-bold';
}

.dog {
    /* border-radius: 100%; */
    margin: 2% auto;
    display: block;
    width: 500px;
    height: 300px;

}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

#pref{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,114,114,1) 0%, rgba(0,212,255,1) 100%);
    padding: 5% 5%;
    padding-top: 2%;
    text-align: center;
    font-family: 'Montserrat-bold';
    font-size: 1.2rem;
}